* {
  box-sizing: border-box;
}
body {
  font-size: 24px;
}

.Header {
  padding: 2em;
  text-align: center;
  background: #b0b;
}

.ReplyForm {
  padding: 2em;
  background: #bada55;
  text-align: center;

  input,
  button {
    box-shadow: none;
    border: none;
    border-radius: 0.25em;
    font-size: 1.5em;
    padding: 0.25em 0.5em;
  }
  input {
    margin-right: 1em;
  }
  button:hover {
    filter: brightness(110%);
    cursor: pointer;
  }
}

.ReplyList {
  padding: 0;
}

.ReplyListItem {
  &:nth-of-type(2n + 1) {
    background-color: #b4d;
  }
  padding: 1em;
  margin: 1em 0;
  display: grid;
  gap: 1em;
  grid-template-columns: 25% auto;
  grid-template-rows: auto min-content;
  grid-template-areas:
    "img reply"
    "name upvotes";

  img {
    grid-area: img;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
  }
  .name {
    grid-area: name;
    text-align: center;
  }
  .reply {
    grid-area: reply;
  }
  .upvotes {
    grid-area: upvotes;
    text-align: right;

    span:first-of-type,
    span:last-of-type {
      cursor: pointer;
      margin: 0 1em;
      background: #c0ffee;
      padding: 0.75em 1em;
      font-weight: 700;
      color: black;

      &:hover {
        filter: brightness(70%);
      }
    }
  }
}

.ForumPost {
  margin: 1em auto;
  max-width: 1400px;

  & > header {
    text-align: center;
    img {
      height: 200px;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50%;
    }

    p {
      font-weight: 700;
    }
  }
}
