<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Count example</h1>
    </header>
    <h1>Count is <%= count %></h1>
    <form action="/" method="post">
      <button>Add one</button>
    </form>
  </body>
</html>
